server:
  port: 8080
eureka:
  client:
    enabled: false
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/baboo
    username: root
    password: root
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  cloud:
    discovery:
      enabled: false
    config:
      enabled: false
      import-check: false