server:
  port: 8081
spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/wefood
    username: root
    password: root
    driver-class-name: org.postgresql.Driver
  data:
    redis:
      host: redis
      port: 6379
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  cloud:
    aws:
      region:
        static: us-east-1
      credentials:
        profile: default
      queues:
        transcoder-producer: ""
      s3:
        raw-bucket-url: ""
        processed-bucket-url: ""
        thumbnails-bucket-url: ""
service:
  metadata-url: http://localhost:8080/api/v1/

