server:
  port: 8082
spring:
  application:
    name: storage-service

  cloud:
    aws:
      region:
        static: us-east-1
      credentials:
        profile: default
      s3:
        bucket-url: ""